# Node
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env
.env.test
.env.production
.env.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
*.swo

# Prisma
/backend/prisma/sqlite
src/generated

# Next.js
.next/
out/
build
.vercel
*.tsbuildinfo
next-env.d.ts
